@import "tailwindcss";

:root {
  --primary-background: #0f172a;
  --primary-foreground: #e0e7ff;

  --secondary-background: #1e1b4b;
  --secondary-foreground: #e0e7ff;
  --card-background: #1e1b4b;
  --card-foreground: #e0e7ff;

  --button-background: #8b5cf6;
  --button-foreground: #ffffff;
}

/* center a div */
.center-div{
   @apply flex justify-center items-center
}

@theme{
  --color-primary-background: var(--primary-background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);
  --color-button-background: var(--button-background);
  --color-button-foreground: var(--button-foreground);
}

.shine {
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 50%;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );

  animation: shineMove 1.5s linear infinite;
}

@keyframes shineMove {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}